.banner{
	width: 100%;
	height: auto;
	position: relative;
}
.banner img{
	width: 100%;
	height: auto;
	opacity: 0.5;
}
.banner h3{
	color: blue;
	float: left;
	margin-left: 10%;
}
.banner ul li{
	list-style: none;
	float: left;
	margin:10px;
}
.banner ul{
	float: right;
	margin-right: 10%;
}

.bottom{
	position: absolute;
	left: 0px;
	top: 0px;
}
#max{
	font-size: 50px;
}
#max span{
	color: blue;
}
.top2{
	padding-top: 30%;
	padding-left: 10%;
}