body{
  background-image: url(anh/bg.jpg);
}
.khung {
 border-radius: 30px;
 
margin: 0 auto;
        width: 700px;
    height: 355px;
    position: absolute;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 23%;
    margin-bottom: 50px;
}
	table{
		
    width: 90%;
   
   
    height: 90%;
    margin: 5%;
    position: relative;
   

}

tr{
	width: 90%;
  height: 40px;
}
.left{
  width: 30%;
}
input[type=text], select {
  width: 60%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 60%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}
input[type=button]{
	background-color: red;
	color: white;
	margin-right: -27%;
    margin-left: 44%;
}
.error{
	color: red;
		}